<div class="col-8 offset-md-4 inner-form-container">
    <div class="row">
        <div class="col form-intro">
            <h2>payment information</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="iban">IBAN</label>
                    <input formControlName="iban" type="text" class="form-control" id="iban" aria-describedby="ibanError" placeholder="Bank account IBAN">
                    <small id="ibanError" class="form-text text-danger" *ngIf="form.get('iban').invalid && form.get('iban').dirty">
                        Your bank account IBAN is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="owner">Owner</label>
                    <input formControlName="owner" type="text" class="form-control" id="owner" aria-describedby="ownerError" placeholder="Bank account owner">
                    <small id="ownerError" class="form-text text-danger" *ngIf="form.get('owner').invalid && form.get('owner').dirty">
                        The bank account owner is required
                    </small>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="form.invalid" class="btn-wunder btn-next">Submit</button>
                </div>
                <div class="form-group">
                    <button type="button" (click)="previous()" class="btn-wunder btn-prev">Previous</button>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="!isLoading && errorMessage">{{errorMessage}}</div>
            </form>
        </div>
    </div>
</div>
