<div class="col-8 offset-md-4 inner-form-container">
    <div class="row">
        <div class="col form-intro">
            <h2>PERSONAL INFORMATION</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input formControlName="firstName" type="text" class="form-control" id="firstName" aria-describedby="emailError" placeholder="Your first name">
                    <small id="firstNameError" class="form-text text-danger" *ngIf="form.get('firstName').invalid && form.get('firstName').dirty">
                        Your first name is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input formControlName="lastName" type="text" class="form-control" id="lastName" aria-describedby="lastNameError" placeholder="Your last name">
                    <small id="lastNameError" class="form-text text-danger" *ngIf="form.get('lastName').invalid && form.get('lastName').dirty">
                        Your first name is required
                    </small>
                </div>
                <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input formControlName="telephone" type="text" class="form-control" id="telephone" aria-describedby="telephoneError" placeholder="Your phone number">
                    <small id="telephoneError" class="form-text text-danger" *ngIf="form.get('telephone').invalid && form.get('telephone').dirty">
                        Your first name is required
                    </small>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="form.invalid" class="btn-wunder btn-next">Next</button>
                </div>
                <div class="form-group">
                    <button type="button" disabled class="btn-wunder btn-prev">Previous</button>
                </div>
            </form>
        </div>
    </div>
</div>
