// Form customization

$input-border: none;
$input-height: 60px;
$input-width: 100%;
$input-outline: 0;
$input-position: relative;
$input-padding: 1rem 1rem;

input.form-control{
    border: $input-border;
    border-radius: 0;
    -webkit-appearance: none;
    height: $input-height;
    position: $input-position;
    padding: $input-padding;
    width: 100%;
    outline: 0;
    background-color: $input;
    resize: none;
    box-shadow: none;
}
input.form-control:focus {
    border: none;
    background-color: $input;
    outline: 0;
    box-shadow: none;
}

.btn-wunder {
    background-color: $light-blue;
    border: none;
    color: $white;
    padding: .8125rem 1.875rem;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    min-width: 200px;
    height: 46px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: 900;
}
.btn-wunder.btn-prev {
    float: left;
    background-color: $gray;
    margin-left: 1rem;
}
.btn-wunder.btn-next {
    float: right;
    background-color: $light-blue;
    margin-right: 1rem;

}
.form-intro h2 {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 38px;
    color: $dark;
    font-weight: 900;
    text-transform: uppercase;
}
.form-container {
    background-image: url('https://d33wubrfki0l68.cloudfront.net/b0180163191069b0a7ae470f173623e724b61eb2/f9084/uploads/2019/02/05/skyline-bg.jpg');
    background-size: cover;
    min-height: 700px;
    padding-top: 5rem;
}
.inner-form-container {
    background-color: $white;
    padding: 4rem 0 4rem 4rem;
}
