<nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: space-between">
    <a class="navbar-brand" routerLink="">
        <img src="https://files.slack.com/files-pri/TB3DCG14J-FMXE6T2CV/image.png" alt="Wunder Mobility">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="">Solutions</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Company</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/registration">Register</a>
        </li>
    </ul>
</nav>
