section {
    min-height: 650px;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/6389bbc1c6aa3648d92f9898a3fa3dfab69afdf5/46d4c/uploads/2019/07/11/vidbanner-poster.jpg');
    background-size: cover;

}
