<div class="col-md-4 col-sm-8 offset-md-4 offset-sm-2 inner-form-container" style="padding: 3rem">
    <div class="row">
        <div class="col form-intro">
            <h2>Congratulation</h2>
            <p>Your payment data were saved successfully in our databases.</p>
            <p style="overflow-wrap: break-word">Here is your payment data id: {{customer.paymentDataId}}</p>
        </div>

        <div class="col">
            <button routerLink="" class="btn-wunder btn-next">To the Homepage</button>
        </div>
    </div>
</div>
