<div class="col-8 offset-md-4 inner-form-container">
    <div class="row">
        <div class="col form-intro">
            <h2>address information</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input formControlName="address" type="text" class="form-control" id="address" aria-describedby="addressError" placeholder="Your address">
                    <small id="addressError" class="form-text text-danger" *ngIf="form.get('address').invalid && form.get('address').dirty">
                        Your address is required
                    </small>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="houseNumber">House Number</label>
                        <input formControlName="houseNumber" type="number" class="form-control" id="houseNumber" aria-describedby="houseNumberError" placeholder="Your house number">
                        <small id="houseNumberError" class="form-text text-danger" *ngIf="form.get('houseNumber').invalid && form.get('houseNumber').dirty">
                            Your house number is required and should be greater than 1
                        </small>
                    </div>
                    <div class="col-md-6">
                        <label for="zipCode">Zip Code</label>
                        <input formControlName="zipCode" type="number" class="form-control" id="zipCode" aria-describedby="zipCodeError" placeholder="Your zip code">
                        <small id="zipCodeError" class="form-text text-danger" *ngIf="form.get('zipCode').invalid && form.get('zipCode').dirty">
                            Your zip code is required and should be greater than 1
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input formControlName="city" type="text" class="form-control" id="city" aria-describedby="cityError" placeholder="Your city">
                    <small id="cityError" class="form-text text-danger" *ngIf="form.get('city').invalid && form.get('city').dirty">
                        Your city is required
                    </small>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="form.invalid" class="btn-wunder btn-next">Next</button>
                </div>
                <div class="form-group">
                    <button type="button" (click)="previous()" class="btn-wunder btn-prev">Previous</button>
                </div>
            </form>
        </div>
    </div>
</div>
